a {
    text-decoration: none;
    color: inherit;
}
ul,li {
    list-style: none;
}
body, html {
    width: 100%;
    font-family: 'Noto Sans KR', sans-serif;
}
button {
    border: none;
    outline: none;
    background-color: transparent;
    padding: 0;
    cursor: pointer;
}
/* ------------------------------------------------------- */
/* main - header */
#main {
    width: 100%;
}
#header {
    width: 1200px;
    height: 60px;
    margin: 0 auto;
}
#header::after{content: "";display: block;clear: both;}
#logo {
    width: 330px;
    margin-top: 5px;
    float: left;
}
#list-box {
    float: right;
}
#list-box > li {
    float: left;
    font-size: 20px;
    margin: 15px;
    line-height: 30px;
}
#list-box::after{content: "";display: block;clear: both;}
/* ------------------------------------------------------- */
/* main - nav */
#topMenu {
    background-color: #0c4e9a;
    color: white;
}
#topMenu > ul {
    width: 1300px;
    margin: 0 auto;
}
#topMenu > ul::after {content: ""; display: block; clear: both;}
#topMenu > ul > li {
    float: left;
    width: 14.2%;
}
#topMenu > ul > li > a {
    display: block;
    text-align: center;
    line-height: 3;
    font-size: 20px;
    position: relative;
}
#topMenu > ul > li > a::after {
    content: "";
    position: absolute;
    bottom: 0; left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 5px;
    background-color: #ff7f21;
    transition-duration: 200ms;
}
#topMenu > ul > li > a:hover::after {
    width: 80%;
}
#topMenu > ul > li {
    position: relative;
}
.submenu {
    position: absolute;
    top: 100%; left: 0; right: 0;
    padding: 1em 0;
    z-index: 2;
    display: none;
}
.submenu > li > a {
    display: block;
    padding: 0.6em 1em;
    color: #0c4e9a;
    text-align: center;
}
.submenu > li > a:hover {
    background-color: #ff7f21;
    color: white;
}
#nav {
    position: relative;
}
#submenuContainer {
    position: absolute;
    top: 100%; left: 0; right: 0;
    height: 1200px;
    background-color: white;
    opacity: 0.95;
    z-index: 1;
    display: none;
}

/* ------------------------------------------------------- */
/* main - banner */
#banner {
    overflow: hidden;
    position: relative;
}
.slide__list {
    display: flex;
    transform: translate(0, 0);
}
.slide__list > li {
    flex: 0 0 100%;
    list-style: none;
}
.slide__list > li > img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.button {
    position: absolute;
    top: 0;
    width: 100%;
    height: calc(100% - 1rem);
}
.prev, .next {
    position: absolute;
    top: 50%;
    width: 60px;
    height: 60px;
    background: #fff;
    opacity: 0.5;
    border-radius: 50%;
    transform: translateY(-50%);
}
.prev:hover, .next:hover {
    opacity: 1;
}
.prev {
    left: 15rem;
    background-image: url('../images/prev_arrow.png');
    background-size: 30px;
    background-position: center;
    background-repeat: no-repeat;
}
.next {
    right: 15rem;
    background-image: url('../images/next_arrow.png');
    background-size: 30px;
    background-position: center;
    background-repeat: no-repeat;
}
.paginations {
    position: absolute;
    bottom: 10px;
    left: 48%;
    text-align: center;
}
.pagination {
    width: 20px;
    height: 20px;
    background: white;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 50%;
}
.pagination:not(:last-child) {
    margin-right: 1.5rem;
}
.pagination.on {
    border: 0;
    background: #0c4e9a;
}

/* ------------------------------------------------------- */
/* schedule */
#schedules {
    height: 250px;
    background-color: #dfe3ee;
}
#day {
    width: 640px;
    height: 110px;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 20px;
}
#day > p {
    line-height: 106px;
    font-size: 40px;
    float: left;
}
#day > p:nth-child(2) {
    line-height: 100px;
    font-size: 60px;
    font-weight: bold;
    margin-left: 30px;
    color: #01a25e;
}
#buttons {
    width: 500px;
    margin: 0 auto;
    position: relative;
}
.schedule:nth-child(1) {
    margin-left: 0;
}
.schedule {
    width: 230px;
    height: 70px;
    background-color: #0c4e9a;
    border-radius: 60px;

    margin-left: 30px;
    font-size: 26px;
    color: #f0f0f0;
    text-align: left;
    padding-left: 30px;
}
#buttons > img:nth-child(2) {
    width: 30px;
    position: absolute;
    top: 18px;
    left: 176px;
}
#buttons > img:nth-child(4) {
    width: 30px;
    position: absolute;
    top: 18px;
    left: 446px;
}

/* ------------------------------------------------------- */
/* program */
#program {
    text-align: center;
}
#program > h1 {
    font-size: 35px;
    font-weight: bold;
    padding-top: 100px;
    padding-bottom: 100px;
}
#icon {
    width: 1300px;
    margin: 0 auto;
}
#icon > div {
    float: left;
    margin-left: 120px;
}
#icon > div:nth-child(1) {
    margin-left: 0;
}
#icon > div > a {
    display: block;
}
#icon > div > a > p {
    font-size: 25px;
    margin-top: 40px;
}
#illust-box1 {
    width: 1300px;
    height: 300px;
    margin: 0 auto;
    margin-top: 250px;
}
#illust-box2 {
    width: 1300px;
    height: 300px;
    margin: 0 auto;
}
.illust-list:nth-child(2) > div > img {
    margin-top: 40px;
}
.illust-list:nth-child(3) > div > img {
    margin-top: 10px;
}
.illust-list2:nth-child(1) > div > img {
    margin-top: 10px;
}
.illust-list2:nth-child(2) > div > img {
    margin-top: 10px;
}
.contents {
    float: left;
    width: 430px;
    height: 300px;
    background-color: #c6cee3;
}
.color-change {
    background-color: #dbe1ed; 
}
.contents > p {
    font-size: 25px;
    font-weight: bold;
    margin-top: 60px;
    text-align: left;
    margin-left: 50px;
    color: #0c4e9a;
}
.illust {
    width: 170px;
    height: 50px;
    background-color: #0c4e9a;
    border-radius: 30px;
    color: #f0f0f0;
    font-size: 25px;
    padding: 13px;
    margin-top: 130px;
    float: left;
    margin-left: 50px;
}
.illust > img {
    width: 25px;
    float: right;
}
.contents > img {
    width: 150px;
    float: left;
    margin-left: 40px;
    margin-top: -10px;
}
#round1 {
    border-radius: 0 50px 0 0;
}
#round2 {
    border-radius: 0 0 0 50px;
}

/* ------------------------------------------------------- */
/* side-banner */
#side-banner {
    margin: 100px 0 auto;
}
.side-list {
    width: 1200px;
    height: 600px;
    margin: 0 auto;
}
.side-list > li {
    width: 300px;
    height: 600px;
    float: left;
}
.side-list > li > a::after {
    content: "";
    display: block;
    width: 70px;
    border-top: 3px solid #f0f0f0;
    margin-top: -45px;
    margin-left: 40px;
}
.side-list > li > a > p {
    color: #f0f0f0;
    font-size: 25px;
    margin-top: 70px;
    margin-left: 40px;
    text-align: left;
    font-weight: bold;
}
.side-list > li:nth-child(1) {
    background-image: url('../images/side_image1.jpg');
}
.side-list > li:nth-child(2) {
    background-image: url('../images/side_image2.jpg');
}
.side-list > li:nth-child(3) {
    background-image: url('../images/side_image3.jpg');
}
.side-list > li:nth-child(4) {
    background-image: url('../images/side_image4.jpg');
}

/* ------------------------------------------------------- */
/* news */
#news {
    margin: 0 auto;
}
#news-container{
    width: 1200px;
    height: 400px;
    margin: 0 auto;
    margin-top: 100px;
    background-color: #dfe3ee;
    background-color: rgba(223, 227, 238, 0.3);
    border-radius: 30px;
}
#news-contents {
    float: left;
    width: 60%;
}
#news-contents > h3 {
    font-size: 25px;
    font-weight: bold;
    margin-top: 28px;
    text-align: left;
    margin-left: 70px;
}
#tabnav {
    font-size: 20px;
    margin-top: 30px;
    margin-left: 70px;
    color: #a6a6a6;
}
#tabnav::after {content: ""; display: block; clear: both;}
#tabnav > li {
    float: left;
    width: 140px;
    height: 46px;
    text-align: left;
    cursor: pointer;
    line-height: 46px;
}
#tabnav > li::after {content: ""; display: none; clear: both;}
#tabnav > li.on {
    font-size: 24px;
    font-weight: bold;
    color: #0c4e9a;
}
#tabnav > li.on::after {display: block;}

.tab-contents11 {
    padding-left: 70px;
    height: 230px;
    display: none;
}
.tab-contents11.on {
    display: inherit;
}
.tab-contents {
    margin-top: 10px;
}
.tab-contents > li {
    font-size: 18px;
    text-align: left;
    line-height: 30px;
}
.tab-contents11 > ul > li::before {content: ""; display: inline-block;}
.tab-contents > li > a {
    display: inline-block;
    width: 400px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.tab-contents > li > span {
    float: right;
    padding-right: 50px;
}
/* news-gallery */
#news-gallery {
    float: left;
    width: 30%;
    margin-left: 70px;
}
#news-gallery > h3 {
    font-size: 25px;
    font-weight: bold;
    width: 200px;
    line-height: 30px;
    float: left;
    margin-top: 28px;
}
#news-gallery > button {
    float: right;
    margin-right: 50px;
    margin-top: 25px;
}
#news-gallery > button > img {
    width: 40px;
}
#news-gallery > img:last-child {
    width: 320px;
    border-radius: 20px;
    margin-top: 10px;
}

/* ------------------------------------------------------- */
/* familysite */
#familysite {
    width: 1410px;
    height: 40px;
    padding-top: 70px;
    margin: 0 auto;
}
#familysite > p {
    font-size: 22px;
    line-height: 36px;
    float: left;
}
#family-contents {
    float: left;
}
.family {
    cursor: pointer;
}
#family-list {
    display: none;
}
.family_site{
    display: block;
    width: 250px;
    text-align: left;
    float: left;
    margin-left: 50px;

    position: relative;
}
.family_title{
    display: block;
    width: 230px;
    height: 30px;
    text-align: center;
    line-height: 28px;
    color: white;
    background: #0c4e9a;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
    font-size: 20px;
}
.family_list{
    display: none;
    position: absolute;
    width: 228px;
    height: 200px;
    bottom: 38px;
    padding: 0 5px;
    background: white;
    border: 1px solid #0c4e9a;

    overflow-y: scroll;
}
.family_list > a {
    display: block;
    line-height: 1.3;
}

/* ------------------------------------------------------- */
/* footer */
#footer {
    height: 150px;
    background-color: rgba(0, 0, 0, 0.3);
    margin-top: 30px;
}
#footer > ul {
    text-align: center;
    padding-top: 25px;
}
#footer > ul > li:nth-child(1) {
    display: inline-block;
    width: 420px;
}
#footer > ul > li:nth-child(1) > img {
    padding-bottom: 10px;
    width: 420px;
}
#footer > ul > li:nth-child(2) {
    margin-left: 170px;
    display: inline-block;
    text-align: left;
    font-size: 18px;
    line-height: 25px;
}